<footer class="footer pt-5 mt-5">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center mx-auto gap-5">
      <div class="col-md-2 mb-4">
        <div>
          <h6 class="font-weight-bolder mb-4">Pet project of<br>Vladimir Titarenko</h6>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">Social Networks</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/flameh1story/" target="_blank">
                Instagram
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/T-Vlad-96" target="_blank">
                GitHub
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">Contacts</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <span class="nav-link">tytarenkova@gmail.com</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


