{% extends "layouts/base.html" %}

{% block content %}
  <section class="pt-1 pb-4 mb-9">
    <div class="container py-3">
      <div class="row justify-content-center">
        <div class="card col-lg-8">
          <div class="card-body text-center">
            <div class="text-center">
              <h1 class="position-relative mb-4 text-primary">
                Topics
              </h1>
              <a
                href="{% url 'newspapers_tracker:topic-create' %}"
                class="position-absolute top-5 end-5 btn btn-primary bg-gradient fw-bold fs-6 rounded-pill"
                title="Add Topic"
              >
                +
              </a>
            </div>
            <ul class="list-group list-group-flush">
              {% for topic in topic_list %}
                <li class="list-group-item d-flex justify-content-between py-3 px-4 border-0">
                  <a
                    href="{% url 'newspapers_tracker:topic-update' pk=topic.id %}"
                    class="fw-semibold"
                    title="Update Topic"
                  >
                    {{ topic.name }}
                  </a>
                  <a
                    href="{% url 'newspapers_tracker:topic-delete' pk=topic.id %}"
                    class="btn btn-sm bg-gray-100 rounded-circle"
                  >
                    🗑
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}