{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <section class="pt-1 pb-4 mb-9">
    <div class="container py-3">
      <div class="row justify-content-center">
        <div class="card col-lg-8">
          <div class="card-body text-center">
            <h1 class="text-gradient text-primary">
              {{ object|yesno:'Update,Add' }} Topic
            </h1>
            {% crispy form %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}