{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
  <section class="pt-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg8">
          <div class="card">
            <div class="card-body text-center align-items-center">
              <h1 class="text-primary text-gradient">
                {{ request.user }}'s password change
              </h1>
              {% crispy form %}
              <ul class="w-50 bg-gray-100 mx-auto text-start">
                <li><span>Your password can’t be too similar to your other personal information.</span></li>
                <li><span>Your password must contain at least 8 characters.</span></li>
                <li><span>Your password can’t be a commonly used password.</span></li>
                <li><span>Your password can’t be entirely numeric.</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}